html {
}

body {
  margin: 0;
  width: 100%;
  font-family: sans-serif;

  transition: 1s;
  -webkit-transition: 1s;

}



/*-------general type-------*/
h1 {
  font-size: 2em;
}


a {
  text-decoration: none;
  color: inherit;
}
a:active {
}

a:hover {
  color: rgb(112, 0, 255);
}
/*-------menu-------*/
#nav {
  z-index: 10000000;
  width: 250px;

  position: fixed;
}

#leftnav {
  top: 80px;
  left: 50px;
  width: 100%;

  position: absolute;
}

#name {
}

#about {
  font-size: 1em;
  font-weight: normal;
  z-index: 100;
}

a.selected {
  color: rgb(112, 0, 255);
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:3px solid rgb(112, 0, 255);
  cursor:default;
  display: none;
  margin-top: 130px;
  position:absolute;
  text-align:left;
  width:400px;
  z-index:-1;
  padding: 25px 20px 20px;
}

.messagepop p, .messagepop.div {
  margin: 8px 0;
  padding-bottom: 8px;
  font-weight: 500;
}

    .worktitle {
      font-weight: bold;
      font-size: 1em;

    }

    .worktype {
      font-size: .5em;

      margin-left: -80px;
      margin-top: 11px;
      position: absolute;

      font-weight: lighter;;
    }

#menu {
  position: fixed;
  right: 5%;
  top: 80px;

  transition: .5s

}
.fixed {

}

.works {
  padding: 0;
}

#sidebar {

}
/*-------maincontent-------*/
#contentbox {
  width: 65%;
  margin-left: 97px;
  background-color: white;


  position: absolute;
}

#maincontent {
padding-top: 30px;
transition: .5s;
}

#maincontent p {

}
.underline {
  color: rgb(112, 0, 255);
}
.caption {
  font-size: .75em;
  top: -70px;
  left: 30px;
  position: relative;
}

#maincontent img {
  margin-bottom: 30px;
  width: 100%;
}

#mainpage img{
  float: left;
  margin-bottom: 30px;
  border: 2px solid black;
  width: 100%;
}
.borderchange {
  border: 2px solid  rgb(112, 0, 255);
}

.arrows{
  position: fixed;
  bottom: 50px;
  width: 65%;
}
.previous , .next {
  font-size: 2em;
  font-weight: bold;
  color: rgb(112, 0, 255);
}

.next {
  float:right;
}

/*-------Screen..-------*/

@media only screen and (min-width: 1000px) {
    

}


@media only screen and (max-width: 700px) {
  #menu {
    display: none !important;
  }

  #nav {
    display: none !important;
  }

  #contentbox {
    position: relative;
    margin: auto;
    width: 80%;
    transition: .5s
  }

  #maincontent {
    position: absolute;
  }

  .arrows{
    position: fixed;
    bottom: 50px;
    width: 80%;
  }
}
