@font-face {
  font-family: "calibre";
  src: url(files/Calibre-Regular.otf);
  font-weight: normal;
}


@font-face {
  font-family: "gt-sectra";
  src: url(files/GT-Sectra-Fine-Book.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: "gt-sectra";
  src: url(files/GT-Sectra-Fine-Medium.ttf);
  font-weight: normal;
}
html {
}

body {
  margin: 0;
  width: 100%;
  font-family: "calibre", sans-serif;
  font-weight: lighter;
  color: #363636;

  transition: 1s;
  -webkit-transition: 1s;

}



/*-------general type-------*/
h1 {
  font-size: 1.75em;
  transition: .5s;

}

h2 {
  margin: 13px 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active {
}

/*-------menu-------*/
.fade {
  color: #bbbbbb;

}
#nav {
  z-index: 10000000;
  width: 250px;

  position: fixed;
  transition: 1s;
}

#leftnav {
  top: 80px;
  left: 50px;
  width: 100%;

  position: absolute;
}

#name {
  display: block;
  font-family: "gt-sectra",sans-serif;
  letter-spacing: 1px;
}

#about {
  font-size: 12px;
  z-index: 100;
}

a.selected {
  color: #363636;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:2px solid #363636;
  cursor:default;
  display: none;
  margin-top: 130px;
  position:absolute;
  text-align:left;
  width:310px;
  z-index:-1;
  padding: 25px 20px 20px;
}

.messagepop p, .messagepop.div {
  margin: 8px 0;
  padding-bottom: 8px;
  font-weight: 500;
  line-height: 1.5em;
  font-size: .75em;
}

    .worktitle {
      font-family: "gt-sectra";
      font-size: .85em;
      letter-spacing: .5px;

      transition: .5s;

    }

    .worktype {
      font-weight:lighter;
      font-size: 12px;

      margin-left: -80px;
      margin-top: 9px;
      position: absolute;

      transition: .5s;
    }

#menu {
  position: fixed;
  right: 5%;
  top: 80px;
  width: 185px;

  transition: .25s

}
.fixed {
  font-family: "gt-sectra";
  letter-spacing: 1px;

}

.works {
  padding: 0;
}

#sidebar {

}

article p{
  font-weight: lighter;
  font-size: .75em;
}
#description {
  display: none;
}
.thumbnails {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

.thumbbox {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-size: cover;

  margin: 10px;
  display:inline-block;
  border: .5px solid black;
}
#b1 {
   background:url(http://sangheehan.com/img/small/nat/natprocess.jpg);
}

#b2 {
  background:url(http://sangheehan.com/img/small/nat/natprocess2.jpg);
}

#b3 {
  background:url(http://sangheehan.com/img/small/nat/natprocess3.jpg);
}

#b4 {
  background:url(http://sangheehan.com/img/small/nat/natprocess4.jpg);
}

#b5 {
  background:url(http://sangheehan.com/img/small/nat/natprocess5.jpg);
}

#b6{
  background:url(http://sangheehan.com/img/small/nat/guideline.jpg);
}
#b7{
  background:url(http://sangheehan.com/img/small/nat/guideline2.jpg);
}
.overlay {
  background: #363636;
  opacity: .8;
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}
.boxtext{
  color:white;
}
.thumbbox:hover .overlay{
  opacity:1;
}
.thumbbox img  {
  width: 250% !important;
}
.off {
  display:none;
  transition: .5s;
}
.on{
  display:block;
  transition:.5s;
}

#arrowup {
  position:absolute;
  margin:10px;
  width: 10px;
}
#rotate {

}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.delete {
  display: none;
}

/*---make a basic box ---*/
.box{
  margin-top: -10px;
  width: 180px;
  position: relative;
  display: none;
}
.box p {
  color: inherit;
}
/*-------maincontent-------*/
#contentbox {
  width: 65%;
  margin-left: 97px;
  background-color: white;


  position: absolute;
}

#maincontent {
padding-top: 30px;
transition: .5s;
}
.paragraph {
  width: 70%;
  margin: 100px auto;

  display: block;

}
.paragraph p {
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.5em;

}
. {
  color: #363636;
}
.caption {
  font-size: .75em;
  top: -70px;
  left: 30px;
  position: relative;
}

#maincontent img {
  margin-bottom: 30px;
  width: 100%;
}

#mainpage img{
  float: left;
  margin-bottom: 30px;
  border: 2px solid black;
  width: 100%;
}
.borderchange {
  border: 2px solid  #363636;
}

.arrows{
  position: fixed;
  bottom: 50px;
  width: 65%;
}
.previous , .next {
  font-size: 2em;
  font-weight: bold;
  color: #363636;
}

.home {
  color: #363636;
  display: none;
}
.next {

}

/*-------Screen..-------*/

@media only screen and (min-width: 1200px) {


}
@media only screen and (max-width: 1250px) {
  #menu {
    width: 150px;
  }
  h1 {
    font-size: 1.5em;
    transition: .5s;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .worktitle {
    font-size: .8em;
  }
  .worktype {

  }
  .paragraph  {
    width: 100% !important;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  #contentbox {
    width: 60%;
    margin-left: 97px;
    background-color: white;


    position: absolute;
  }

  #maincontent {
  padding-top: 30px;
  transition: .5s;
  }

  .arrows{
    position: fixed;
    bottom: 50px;
    width: 60%;
  }
  .previous , .next {
    font-size: 2em;
    font-weight: bold;
    color: #363636;
  }

  .home {
    color: #363636;
    display: none;
  }
  .next {
  }
}

@media only screen and (max-width: 1100px) {
  .worktype {
    margin-left: -60px;
    transition: .5s;
  }
  .worktitle {
  }
}

@media only screen and (min-width: 760px) {
  .mobile-about, .mobile-name {
    display: none;
  }
}
@media only screen and (min-width: 760px) and (max-width: 950px) {
  .worktype {
    display: none;
  }
  .h2 {
    margin: 0;
  }
}
@media only screen and (max-width: 760px) {
  .mobile-about {
    display:block;
    margin-bottom: 30px;
  }
  .mobile-about p {
    font-size: .5em;
  }


  .paragraph  {
    width: 100% !important;
  }
  .mobile-name {
    font-family: "gt-sectra";
    display:block;
    font-size: 1em;
    margin-bottom: 20px;
  }
  #menu {
    display: none !important;
  }

  #nav {
    display: none !important;
  }

  #contentbox {
    position: relative;
    margin: auto;
    width: 80%;
    transition: .5s;
  }

  #maincontent {
    position: absolute;
  }

  tbody {
    width:100%;
    margin: 0 auto;
  }
  .paragraph {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .arrows{
    position: fixed;
    bottom: 50px;
    width: 80%;

    /*position: relative;
    margin-top: 60px;
    width: 100%;
    font-weight: bolder;*/
  }
  .home {
    display: block;
  }
  .thumbbox {
    width: 70px;
    height: 70px;
  }
  .overlay {
    padding:30px 0 66px 0;
  }
}
