html {
}

body {
  margin: 0;
  width: 100%;
  font-family: "Work Sans";

  transition: 1s;
  -webkit-transition: 1s;

}



/*-------general type-------*/
@font-face {
    font-family: "Acrom";
    src: url(files/The.Northern.Block_Acrom.Bold.otf);

}

h1 {
  font-size: 2em;
  line-height: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: blue;
}

a:hover {
  color: rgb(112, 0, 255);
}
/*-------menu-------*/
#nav {
  z-index: 10000000;
  width: 250px;
  font-family: "Acrom";

  position: fixed;
}

#leftnav {
  top: 80px;
  left: 50px;
  width: 100%;

  position: absolute;
}

#name {
  text-transform: uppercase;
}


a.selected {
  color: rgb(112, 0, 255);
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:3px solid rgb(112, 0, 255);
  cursor:default;
  display:none;
  margin-top: 100px;
  position:absolute;
  text-align:left;
  width:400px;
  z-index:50;
  padding: 25px 20px 20px;
}

.messagepop p, .messagepop.div {
  margin: 8px 0;
  padding-bottom: 8px;
}

    .worktitle {
      font-weight: bold;
      font-size: 1em;

      line-height: 1em;

    }

    .worktype {
      font-size: .5em;

      margin-left: -80px;
      margin-top: 11px;
      position: absolute;

      font-family: "Work Sans";
      font-weight: 500;
    }

#menu {
  position: fixed;
  right: 60px;
  top: 80px;

}
.fixed {

  text-transform: uppercase;
}

.works {
  padding: 0;
}

#sidebar {

}
/*-------maincontent-------*/
#contentbox {
  width: 65%;
  margin-left: 95px;
  background-color: white;


  position: absolute;
}

#maincontent {
padding-top: 30px;
}

#maincontent p {
  width: 70%;
  margin-bottom: 30px;
}
#maincontent img {
  margin-bottom: 30px;
}

#mainpage img{
  float: left;
  margin-bottom: 30px;
  border: 2px solid black;
}
.borderchange {
  border: 2px solid rgb(112, 0, 255);
}

#Nat {

}

  .underline{
    color: rgb(112, 0, 255);
  }
